{% load static %}
<!doctype html>
<html class="x-admin-sm">
    <head>
        <meta charset="UTF-8">
        <title>后台登录</title>
        <meta name="renderer" content="webkit|ie-comp|ie-stand">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
        <meta http-equiv="Cache-Control" content="no-siteapp" />
        <link rel="stylesheet" href="{% static 'css/font.css' %}">
        <link rel="stylesheet" href="{% static 'css/xadmin.css' %}">
        <script src="{% static 'lib/layui/layui.js' %}" charset="utf-8"></script>
        <script type="text/javascript" src="{% static 'js/xadmin.js' %}"></script>
        <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
        <!--[if lt IE 9]>
          <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
          <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
        <script>
            // 是否开启刷新记忆tab功能
            var is_remember = true;
        </script>
    </head>
    <body class="index">
        <!-- 顶部开始 -->
        <div class="container">
            <div class="logo">
                <a href="{% url 'index' %}">代理扫描平台</a></div>
            <div class="left_open">
                <a><i title="展开左侧栏" class="iconfont">&#xe699;</i></a>
            </div>
            <ul class="layui-nav left fast-add" lay-filter="">
                <li class="layui-nav-item">
                    <a href="javascript:;">监控选项</a>
                    <dl class="layui-nav-child">
                        <!-- 二级菜单 -->
                        <dd>
                            <a onclick="status_y()">
                               <span class="layui-btn layui-btn-normal layui-btn-mini">
                                <i class="iconfont">&#xe6ad;</i>开启注入监控</span></a></dd>
                        <dd>
                            <a onclick="status_n()">
                                <span class="layui-btn layui-btn-warm layui-btn-mini">
                                <i class="iconfont">&#xe6b6;</i>关启注入监控</span></a></dd>
                    </dl>
                </li>
            </ul>
            <ul class="layui-nav right" lay-filter="">
                <li class="layui-nav-item">
                    <a href="javascript:;">admin</a>
                    <dl class="layui-nav-child">
                        <!-- 二级菜单 -->
                        <dd>
                            <a onclick="xadmin.open('修改密码','{% url 'editpasswd' %}')">修改密码</a></dd>
                        <dd>
                            <a href="{% url 'logoutx' %}">退出</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item to-index">
                    <a href="/">前台首页</a></li>
            </ul>
        </div>
        <!-- 顶部结束 -->
        <!-- 中部开始 -->
        <!-- 左侧菜单开始 -->
        <div class="left-nav">
            <div id="side-nav">
                <ul id="nav">

                    <li>
                        <a href="javascript:;">
                            <i class="iconfont left-nav-li" lay-tips="代理管理">&#xe723;</i>
                            <cite>代理管理</cite>
                            <i class="iconfont nav_right">&#xe697;</i></a>
                        <ul class="sub-menu">
                            <li>
                                <a onclick="xadmin.add_tab('代理数据','{% url 'thing' %}')">
                                    <i class="iconfont">&#xe6a7;</i>
                                    <cite>代理数据</cite></a>
                            </li>
                            <li>
                                <a onclick="xadmin.add_tab('代理设置','{% url 'proxysite' %}')">
                                    <i class="iconfont">&#xe6a7;</i>
                                    <cite>代理设置</cite></a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="javascript:;">
                            <i class="iconfont left-nav-li" lay-tips="SQL注入管理">&#xe6bf;</i>
                            <cite>SQL注入管理</cite>
                            <i class="iconfont nav_right">&#xe697;</i></a>
                        <ul class="sub-menu">
                            <li>
                                <a onclick="xadmin.add_tab('查看注入','{% url 'sqlindex' %}')">
                                    <i class="iconfont">&#xe6a7;</i>
                                    <cite>查看注入</cite></a>
                            </li>
                            <li>
                                <a onclick="xadmin.add_tab('注入设置','{% url 'sqlsite' %}')">
                                    <i class="iconfont">&#xe6a7;</i>
                                    <cite>注入设置</cite></a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="javascript:;">
                            <i class="iconfont left-nav-li" lay-tips="漏洞管理">&#xe6b5;</i>
                            <cite>漏洞管理</cite>
                            <i class="iconfont nav_right">&#xe697;</i></a>
                        <ul class="sub-menu">
                            <li>
                                <a onclick="xadmin.add_tab('漏洞管理','{% url 'anyxindex' %}')">
                                    <i class="iconfont">&#xe6a7;</i>
                                    <cite>漏洞管理</cite></a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="javascript:;">
                            <i class="iconfont left-nav-li" lay-tips="用户管理">&#xe726;</i>
                            <cite>用户管理</cite>
                            <i class="iconfont nav_right">&#xe697;</i></a>
                        <ul class="sub-menu">
                            <li>
                                <a onclick="xadmin.add_tab('管理员列表','{% url 'user' %}')">
                                    <i class="iconfont">&#xe6a7;</i>
                                    <cite>管理员列表</cite></a>
                            </li>

                        </ul>
                    </li>


                </ul>
            </div>
        </div>
        <!-- <div class="x-slide_left"></div> -->
        <!-- 左侧菜单结束 -->
        <!-- 右侧主体开始 -->
        <div class="page-content">
            <div class="layui-tab tab" lay-filter="xbs_tab" lay-allowclose="false">
                <ul class="layui-tab-title">
                    <li class="home">
                        <i class="layui-icon">&#xe68e;</i>我的桌面</li></ul>
                <div class="layui-unselect layui-form-select layui-form-selected" id="tab_right">
                    <dl>
                        <dd data-type="this">关闭当前</dd>
                        <dd data-type="other">关闭其它</dd>
                        <dd data-type="all">关闭全部</dd></dl>
                </div>
                <div class="layui-tab-content">
                    <div class="layui-tab-item layui-show">
                        <iframe src='{% url 'dashb' %}' frameborder="0" scrolling="yes" class="x-iframe"></iframe>
                    </div>
                </div>
                <div id="tab_show"></div>
            </div>
        </div>
        <div class="page-content-bg"></div>
        <style id="theme_style"></style>
        <!-- 右侧主体结束 -->
        <!-- 中部结束 -->
    </body>
    <script>
        function status_y() {
            layer.confirm('确认要开启监控吗？',
            function(index) {
                //发异步删除数据
                var xmlhttp;
                xmlhttp = new XMLHttpRequest();
                xmlhttp.open('get', '{% url 'cronevent' %}?comshow=yes', true);
                xmlhttp.setRequestHeader("Content-type","application/x-www-form-urlencoded");
                xmlhttp.send();
                xmlhttp.onreadystatechange = function () {
                    if (xmlhttp.readyState == 4 && xmlhttp.status == 200) {
                        layer.alert("开启成功", {
                                icon: 1
                            });
                    }else {
                        layer.alert("开启失败", {
                            icon: 2
                        });
                    }
                }
            });
        }

        function status_n() {
            layer.confirm('确认要关闭监控吗？',
            function(index) {
                //发异步删除数据
                var xmlhttp;
                xmlhttp = new XMLHttpRequest();
                xmlhttp.open('get', '{% url 'cronevent' %}?comshow=no', true);
                xmlhttp.setRequestHeader("Content-type","application/x-www-form-urlencoded");
                xmlhttp.send();
                xmlhttp.onreadystatechange = function () {
                    if (xmlhttp.readyState == 4 && xmlhttp.status == 200) {
                        layer.alert("关闭成功", {
                                icon:1
                            });
                    }else {
                        layer.alert("关闭失败", {
                            icon: 2
                        });
                    }
                }
            });
        }
    </script>

</html>